#nav-header {
  background-color: gray;
  border-radius: 0;
  border: 1px solid black;
}

.navbar-brand h1 {
  margin: 0;
  padding: 0;
  line-height: .75;
  color: white;
  text-align: left;
}

.navbar-brand a:hover, .navbar-brand a:focus{
  text-decoration: none;
}

.row  {
  width: 100%;
}

#main-content h2 {
  text-align: center;
}

#main-chicken, #main-sushi, #main-beef{
  border: 1px solid black;
  width: 100%;
  height: 100%;
  margin: 0 auto 20px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}

#nav-list span{
  text-align: center;
  color: white;
}

#nav-list a:hover{
  background: white;
}
